{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R Sqauared Counsoling</title>
    <link rel="stylesheet" href="{% static 'main/stylesheet.css' %}">
</head>
<body>
        <div class="topnav">
            <a class="active" href="{% url 'home' %}">Home</a>
            <a href="#">Randy's Bio</a>
            <a href="#">Therapy</a>
            <a href="#">Wellness</a>
            <a href="#">Evaluations</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    {% block content%}
    {% endblock %}
        <footer>
            <div class="center_contact">
                <div style="margin: 0px;">
                    <p style="font-size: 20px; font-weight: bold; margin: 0px;">Contact</p>
                    <p style="margin: 0px;">Randy Ruhge</p>
                    <a href="tel:402-660-1987">(402) 660-1987</a> <br>
                    <a href="mailto:rsquaredcounseling@gmail.com">rsquaredcounseling@gmail.com</a>
                </div>
            </div>
            <p style="text-align: center">
                DISCLAIMER <br>
                All materials and information on website are provided for informational and educational purposes only and is not intended to be a substitute for professional mental health services or treatment. If you are experiencing an emergency, please contact 911.
            </p>
            <small>
                <p style="text-align: center">&copy <script>document.write(new Date().getFullYear())</script><br>
            </small>

        </footer>
    {% if messages %}
        <div class="splash-banner">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>