{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'main/stylesheet.css' %}">
        <title>R Squared Counseling</title>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="#">Home</a>
            <a href="#">Randy's Bio</a>
            <a href="#">Therapy</a>
            <a href="#">Wellness</a>
            <a href="#">Evaluations</a>
            <a href="#">Contact</a>
        </div>
        <h1 style="text-align: center;">Let’s meet Randy</h1>

<p style="font_size: 30px;">I was born and raised on a farm in southeast Nebraska. After high school, I worked
as a security guard and then for a Farmers Cooperative as branch manager. In
1990, I became a police officer working for Cass County Nebraska and then for
LaVista Nebraska. After 30 years in law enforcement, I retired to start my
counseling service. <br>
<br>
Over the years I have volunteered as an EMT and a trained member of the Critical
Incident Stress Management (CISM) for the State of Nebraska. These years of
helping individuals through difficult situations lead me to my interest in
counseling. <br>
<br>
In 1998, I obtained a Bachelor of Science in Management degree from Bellevue
University. I achieved my Master of Science in Social Work and Master of Science
in Criminology/Criminal Justice in 2020 from University of Nebraska Omaha. I
currently have a provisional license in Mental Health, PLMHP, Master of Social
Work, PLMSW (June 2020) and Alcohol and Drug Counseling, PLADC (May 2021).
Other accomplishments include a published article on elderly suicide, presenting a
webinar for the Nebraska Chapter of National Social Workers Association on Crisis
Intervention and trainer for CISM. I have been asked and have accepted as a
provider for the National Fire Fighters Association and National Fraternal Order of
Police.</p>
        <footer>
            <p style="display: inline-block">
                Contact <br>
                Randy Ruhge <br>
                8790 F St <br>
                Suite 527 <br>
                Omaha, NE 68127 <br>
                <a href="tel:402-660-1987" style="color:white;">(402) 660-1987</a> <br>
                <a href="mailto:randyruhge@gmail" style="color:white;">rsquaredcounseling@gmail.com</a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.0568038908746!2d-96.0514282845794!3d41.22053257927989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938cbfa859c021%3A0x67a970abd4151c86!2s8790%20F%20St%2C%20Omaha%2C%20NE%2068127!5e0!3m2!1sen!2sus!4v1615166307191!5m2!1sen!2sus" width="300" height="200"  style="display: inline-block" allowfullscreen="" loading="lazy"></iframe>
            <p style="text-align: center">
                DISCLAIMER <br>
                All materials and information on website are provided for informational and educational purposes only and is not intended to be a substitute for professional mental health services or treatment. If you are experiencing an emergency, please contact 911.
            </p>
            <small>
                <p style="text-align: center">&copy <script>document.write(new Date().getFullYear())</script><br>
            </small>

        </footer>
    </body>
</html>