{% extends 'base.html' %}
{% block content %}

<div class="about_wrapper">
    <h1 class="about_title">Let’s meet Randy</h1>
    <div class="about_text">
        <p>
            I specialize in supporting First Responders and individuals who work in high stress, high impact roles.
            My background includes 20 years as an EMT/Firefighter (primarily volunteer), 15 years in Emergency Management,
            and 30 years in law enforcement across both county and city departments. These experiences allow me to understand
            the unique pressures, culture, and unspoken expectations that come with serving others. I am a state registered
            provider for drug and alcohol assessments and treatment.
        </p>
        <p>
        I primarily treat adults and also have experience working with adolescents. My work spans preventive care,
            crisis intervention, and post crisis recovery, with an emphasis on early identification of emotional concerns
            before they escalate. My approach blends Positive Psychology, CBT, Mindfulness, and Solution Focused work.
        </p>
        <p>
        I believe therapy is your space and your story. You decide what matters most, and I help you explore it with clarity
            and compassion. I draw from my own diverse experiences to relate to clients, and when your experience is different
            from mine, I listen deeply to understand your world and how it has shaped you.
        </p>
    </div>
</div>
{% endblock %}