{% extends 'base.html' %}
{% block content %}
    <div class="eval_wrapper">
        <h1 class="eval_title">Modalities</h1>
        <p class="eval_intro">People seek support in different ways, and Randy offers several modalities to meet
            clients where they are. These options provide flexibility in how sessions are structured, allowing therapy
            to fit your schedule, comfort level, and personal goals.
        </p>
        <ul class="eval_list">
            <li>Positive Psychology</li>
            <li>Psychoanalytic</li>
            <li>Schema Therapy</li>
            <li>Solution Focused Brief (SFBT)</li>
            <li>Strength-Based</li>
            <li>Trauma Focused</li>
        </ul>
    </div>
{% endblock %}