{% extends 'base.html' %}
{% block content %}
    <div class="eval_wrapper">
        <h1 class="eval_title">Specialties</h1>
        <p class="eval_intro">Randy works with individuals facing a wide range of emotional, behavioral, and
            situational challenges. These specialties reflect the areas where he has extensive experience, training,
            and personal understanding. Whether you’re navigating a difficult season or seeking long‑term support,
            these are the concerns he most commonly helps clients work through.
        </p>
        <ul class="eval_list">
            <li>Peer Relationships</li>
            <li>Relationship Issues</li>
            <li>Self Esteem</li>
            <li>Self-Harming</li>
            <li>Sexual Abuse</li>
            <li>Stress</li>
            <li>Suicidal Ideation</li>
            <li>Testing and Evaluation</li>
            <li>Veterans</li>
            <li>Anxiety</li>
            <li>Substance Use</li>
            <li>Trauma and PTSD</li>
            <li>Issues</li>
            <li>Alcohol Use</li>
            <li>Bipolar Disorder</li>
            <li>Borderline Personality (BPD)</li>
            <li>Coping Skills</li>
            <li>Depression</li>
            <li>Domestic Abuse</li>
            <li>Domestic Violence</li>
            <li>First Responders</li>
            <li>Grief</li>
        </ul>
    </div>
{% endblock %}