{% extends 'base.html' %}
{% block content %}
    <div class="eval_wrapper">
        <h1 class="eval_title">Types of Therapy</h1>
        <p class="eval_intro">Therapy is not one‑size‑fits‑all. Randy uses evidence‑based approaches tailored to each
            client’s needs, goals, and comfort level. These therapeutic methods help clients build insight, develop
            coping skills, and create meaningful change in their lives.
        </p>
        <ul class="eval_list">
            <li>Brainspotting</li>
            <li>Cognitive Behavioral (CBT)</li>
            <li>Dialectical Behavior (DBT)</li>
            <li>Family Systems</li>
            <li>Hypnotherapy</li>
            <li>Mindfulness-Based (MBCT)</li>
            <li>Motivational Interviewing</li>
        </ul>
    </div>
{% endblock %}